img{
  max-width:48vw;
  height:auto;
  display:block;
}
.item{
  align-items: center;
  justify-content: center;
  color:red;
}
#container{
  display: grid;
  grid-template-columns:48vw auto;
  grid-gap:2vw
}
@@media query {

}
