*{
  margin:0;
  box-sizing: border-box;
}
body{
  font-family:Cormorant Infant;
}

#schedule, #about, #event, #offerings, #home,#contact{
  background:#5d413d;
}

#home{
  /* background-color:rgba(145, 194, 209, 1); */
  height:100vh;
  background-image: url("Lucia Ecstatic.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
}

#contactPage.contact{
  /* background-color:#262626; */
  height:100vh;
  background-image: url("quill_and_page2.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  row-gap:2em;
}

#contactForm{
  text-align: center;
  padding:2em;
  border-radius: 15px;
  /* background-color: #bd8247; */
  opacity:.7;
  max-width: 85%;
  margin: 0% auto;
}




.emailLink{
  color:purple;
  font-size: 1em;
}
#schedule .emailLink{
  font-size:1em;
}
#contactPage .emailLink{
  font-size:2em;
}
.emailLink:hover{
  color:red;
  transform:scale(5);
}

#subscribe{
  font-size: 1em;
  padding:.5em 1.25em;
  transition: transform 500ms;
}
#subscribe:hover{
  transform:scale(1.1);
}
.herself{
  color:red;
  font-family:cursive;
}

header{
  position:relative;
  width: 100%;
  margin:0 auto;
  text-align: center;
  background: #1c1c1c;
  font-size:2rem;
}
.tabs{
  display:none;
  margin:auto;
  font-size:.5em;
}

.headText{
  margin-left: 50%;
  transform: translateX(-50%);
}

.light{
  color:white;
}


.nav_toggle{
  position:absolute;
  left:-34px;
  border:0;
  height:25px;
  background: #1c1c1c;
}
.nav_toggle:hover{
  transform:scale(105%);
  background: #a433bf;
}
.burger{
  color:#fff;
  position:relative;
  height:5px;
  width:25px;
  background:white;
  display:block;
}
.burger::before,
.burger::after{
  display:inline-block;
  position:absolute;
  left:0;
  content:'';
  width:25px;
  height:5px;
  background:white;
}
.burger::before{
  top:10px;
 }
 .burger::after{
  bottom:10px;
 }
#events ul{
  margin-top:10%;
  list-style-position:inside;
}
a{
  text-decoration: none;
}
a:link, a:visited{
  color:#8e8e8e;
}

a:hover,a.oLtab:hover{
  color:#a433bf
}
fineprint{
  font-size:.7em;
  text-align:center;
}
.linkSpan{
  transition: transform 1000ms;
  color:black;
}
a.oLtab{
  color:black;
  font-size: 2em;
  margin-bottom:2em;
  display:block;
}

#overlay{
  top:1rem;
  right:0;
  position:fixed;
  transform:translateX(100%);
  height:100vh;
  width:100vw;
  background:#c1c1c1;
  transition: transform 1000ms ease-in-out;
  z-index: 2;
}


.open #overlay{
  transform: translateX(7%);
  opacity:90%;
}
.open .burger{
  transform:rotate(45deg);
}
.open .burger::after{
  visibility:hidden;
}
.open .burger::before{
  transform: rotate(90deg) translate(-10px);

}
input{
  background:#d3ba56;
}
#offerings, #about, #events, #contactPage, #home{
  overflow-x: hidden;
}
.container{
  display:flex;
  flex-direction: column;
}
#offerings_photo{
  display:block;
  margin:0 auto;
  width:100%;
}

#offerings .container a, #schedule .main a{
  color:#5d413d;
  transition:transform 2000ms;
}
#schedule .main a{
  color:#5d413d;
  font-weight: bold;
}
#offerings .container a:hover, #schedule .main a:hover{
  color:red;
}
.schedLink{
  margin-left:50%;
  transform:translateX(-50%);
  padding-bottom:2em;
}
.titleText{
  font-size:3em;
  color:white;
  background:#1c1c1c;
  text-align: center;
  padding:.3em;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
}

.desc span{
  font-size: 1.5em;
  font-weight: bold;
}

.desc{
  font-size:2em;
  background:grey;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.descText{
  padding:1em 2em 2em;
}



#about .main, #events .main{
  text-align: center;
  background:grey;
  padding:2em;
}

#about img, #events img{
  display:block;
  width:100%;
  margin:0 auto;
  margin-bottom:2em;
}

#bio{
  width:80%;
  font-size:3em;
  margin:0 auto;
}
#retreat{
  font-size: 2em;
  padding:2em;
}

.linkSpan:hover{
  color:red;
}
.eventHead{
  font-size: 3.5em;
}

.eventHead2{
  font-size: 2.5em;
}

#contactPage .main{
  padding-top:10em;
}
#about .main,#events .main{
 padding-top:25%;
}


#schedule .main{
  padding:7rem 2rem 1rem;
}
.skedType{
  background: #5e96aa;
  /* border:solid black; */
  border-radius: 25px;
  margin-bottom:2em;
  padding:2em;
}

.skedType:last-child{
  margin-bottom:0;
}

@media (min-width:1167px) {
  /* .home{
    visibility: visible;
    border-radius: 50%;
    background: #caa34e;
    padding:.5em .7em;
    position:absolute;
    font-size: 2em;
    top:1em;
    left:1em;
    color:#79493c;
    transition: transform 500ms;
  } */
  header{
    display:flex;
    align-items:center;
    width:50%;
    justify-content: flex-start;
  }
  .nav_toggle{
    visibility: hidden;
  }
  .tabs{
    display:flex;
    justify-content: flex-end;
    color:grey;
    margin-right: 1em;
    visibility:visible;
  }
  .tab{
    font-size:1rem;
    margin-left:1.4em;
  }
  .headText{
    margin-left:2rem;
    transform:none;
  }
  #overlay.open{
    transform:translateX(100%);
    transition:transform 0s;
  }

/*offerings page*/

  .container{

    margin-top:-150px;
    /* height:100vh; */
    background: #1c1c1c;
    display:grid;
    grid-template-columns:   1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap:1em;
    grid-template-areas:
      "chair chairDesc"
      "hatha hathaDesc"
      "rstrtv rstrtvDesc"
      "med    medDesc";
    align-items: center;
    }

  .chair{grid-area:chair}
  .chairDesc{grid-area:chairDesc}
  .hatha{grid-area:hatha}
  .hathaDesc{grid-area:hathaDesc}
  .rstrtv{grid-area:rstrtv}
  .rstrtvDesc{grid-area:rstrtvDesc}
  .med{grid-area:med}
  .medDesc{grid-area:medDesc}

  .container img{
    width:100%;
    height:100%;
  }
  .desc span{
    font-size: 2.5em;
  }

  .main{
    position:relative;
    top:10%;
  }
  .titleText{
    font-size:5em;
  }

  #about img, #events img{
    width:35%;
  }
  #about .main, #events .main{
    padding-top:15%;
  }
  #schedule .main{
    /* top:25%; */
  }

  #contactPage h2{
    font-size: 3em;
  }

  #contactPage form{
    font-size: 1.5em;
  }

  #schedule .main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-size: 1.25em;
  }
  #schedule h2{
    text-align: center;
  }

  #schedule .main, #contactPage .main{
    padding-top:10em;
    column-gap:2em;
  }

}
