html{
  background:black;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  height:93%;
  background:lightslategray;
}
.col-rt{
  width: 75%;
  text-align: left;
}


header{
  width:100%;
  height:14%;
  line-height: 5%;
}
.hero{
  /* border:solid red 5px; */
  width: 100%;
  height:14%;
  line-height: 75%;
}
h1{
  font-size:3em;
}
h2{
  margin: 0;
}
footer{
  background: #568203;
  margin:0;
  width:100%;
  color:white;
  height:9%;
  padding-top:1.5%;
}

.columns{
    display: flex;
    width:100%;
}

.container{
    width:50%;
    margin: 0 auto;
    text-align: center;
}

.pricing{
    background: yellow;
    border-top:solid green 5px;
    border-bottom:solid green 5px;
    line-height: 5%;
    width:100%;
    height:7%;
    margin-bottom:0;

}

.total-cost{
    color:red;
}

.medal-text{
    color:dimgrey;
    font-size: .2em;
    line-height: 10%;
    position:absolute;
    top:19%;
    left:46%;
    font-weight: 700;
}

.breakdown-cost{
    color:blue;
    font-size: .75em;
}

.picture{
    position: relative;
    height:56%;
    margin-bottom: 0;
    width:100%;
    /* border:solid red 5px; */
}
.port{
    width:100%;
    height:100%;
    position:relative;
    margin:0;
}

.legend{
    position:absolute;
    top:5%;
    left:0;
    line-height: 5px;
    /* z-index: 1; */
    height:25%;
    width: 20%;
    color:white;
}
.legend-text{
  font-size:.5em;
}

#medallion{
    height:70%;
    width:55%;
}

#lantern{
  height:75%;
  width:25%;
  position:relative;
  top:7%;
  left:35%;
}

.hero p{
  font-size: 1.5em;
}
