<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Schedule of Classes</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel = "stylesheet" href="flexstyle.css">
</head>
<body id='schedule'>
  <div class = 'titleText'>
    <h1 class='headline'>Schedule of Classes</h1>
    <div class='tabs'>
      <span class="tab"><a href="index">Home</a></span>
      <span class="tab"><a href="about">About Lucia</a></span>
      <span class="tab"><a href="offerings">Offerings</a></span>
      <span class="tab"><a href="events">Events</a></span>
      <span class="tab"><a href="contact">Contact</a></span>
    </div>
  </div>
  <div id='overlay'>
    <button class='nav_toggle' onclick='toggle()'>
      <span id ="burger" class='burger'></span>
    </button>
    <ul id = 'overlayTabs'>
      <a class='oLtab' href="index">Home</a>
      <a  class='oLtab' href="about">About Lucia</a>
      <a class='oLtab' href="offerings">Offerings</a>
      <a class='oLtab' href="events">Events</a>
      <a class="oLtab" href="schedule">Schedule</a>
      <a class='oLtab' href="contact">Contact</a>
    </ul>
  </div>
  <div class='main'>
    <div class='skedType'>
      <h2>Chair Yoga</h2>
      <ul>
        <li>92nd Street Y Himan Brown Center<br>Monday/Friday 9:30-10:20</li>
        <ul>
          <li><a href="#">Himan Brown Contact Info</a></li>
        </ul>
        <li>Zoom class through Taft Houses<br>Tuesday 10 - 11</li>
        <ul>
          <li><a href="#">Taft Center Contact Info</a></li>
        </ul>
        <li>Isaacs Center 93rd Street<br>Wednesday 9:30-10:30</li>
        <ul>
          <li><a href="#">Isaacs Center contact info</a></li>
        </ul>
        <li>Simone's building<br> 1st, 3rd, and 5th Thursdays of each month, 5-6</li>
        <ul>
          <li><a href="#">Simone' private phone number</a></li>
        </ul>
      </ul>
    </div >
    <div class='skedType'>

      <h2>Hatha Flow</h2>
      <ul>
        <li>Marcus Garvey Park<br>Tuesday 6-7</li>
        <ul>
          <li><a target = '_blank' href='https://harlemyogastudio.com/schedule/'>Click to sign up</a></li>
        </ul>
        <li>Zoom class<br>Saturday 10-11</li>
        <ul>
          <li><a  href = "mailto: jsnd11@gmail.com">Email me!</a></li>
        </ul>
      </ul>
    </div>
    <div class='skedType'>

      <h2>Restorative Yoga</h2>
      <ul>
        <li>Harlem Yoga Studio <br> Friday/Sunday 6-7</li>
        <ul>
          <li><a target = '_blank' href='https://harlemyogastudio.com/schedule/'>Click to sign up</a></li>
        </ul>
      </ul>
    </div>

    <div class='skedType'>
      <h2>Meditation</h2>
      <ul>
        <li>Isaacs Center 93rd Street<br>Wednesday 10:30-11:00</li>
        <ul>
          <li><a href="#">Isaacs Center contact info</a></li>
        </ul>
        <li>Zoom via Taft Center<br> Thursday 3:00-3:30</li>
        <ul>
          <li><a href="#">Taft Center Contact Info</a></li>
        </ul>
      </ul>
    </div>

    <div class='skedType'>
      <h2>Private Session</h2>
      <ul>
        <li>  <a  href = "mailto: jsnd11@gmail.com">Email me!</a></li>
      </ul>
    </div>

  </div>
  <script type='text/javascript' src = 'index.js'></script>
</body>
</html>
