*{
  margin:0;
}

body{
  background-color:rgba(145, 194, 209, 1);
}
.flex-container{
  background-color:#cfcfcf;
  height:100px;
  margin-bottom:55px;
  width:100%;
  display:flex;
}
.herself{
  color:red;
  font-family:cursive;
  font-size:1.25em;
}
.name{
  margin: auto;
}

.tabs{
  margin:auto;
  font-size:.75em;
}
span{
  margin-left: 150px;
  margin-right:50px;
}
img{
     width:50%;
    }

.tab{
  margin-left:10px;
}
p {
    font-size:2em;
    font-weight: bold;
    margin:0 auto;
  }

middle{
  display:flex;
}
img{
  border:5px;
  border-style:solid;
  border-color:red;
  margin:auto;
}
.red{
  background-color:red;
  /* width:200px; */
  margin:auto;
  font-size:34px;
}

.blue{
  background-color: blue;
  /* width:200px; */
  margin:auto;
  font-size:34px;

}
