@keyframes growth{
  from{width:0em;}
  to{width:5em;}
}
@keyframes darken{
  from{opacity:0;}
  to{opacity:1;}
}
body{
  background:black;
}
p{
  color:grey;
  font-size:10em;
  width:50%;
  margin:25% auto;
  opacity:1;
  animation-name: darken;
  animation-duration: 10s;
}

p::before{
  content:'';
  display:block;
  width:5em;
  height: 3px;
  background:grey;
  animation-name: growth;
  animation-duration: 3s;
}
