*{
  margin:0;
  box-sizing: border-box;
}

body{
  background-color:rgba(145, 194, 209, 1);
}
.flex-container{
  background-color:#cfcfcf;
  height:100px;
  width:100%;
  display:flex;
}
.herself{
  color:red;
  font-family:cursive;
  font-size:1.25em;
}
.name{
  margin: auto;
}

.tabs{
  margin:auto;
  font-size:.75em;
}
span{
  margin-left: 150px;
  margin-right:50px;
}


.tab{
  margin-left:10px;
}
p {
    font-size:2em;
    font-weight: bold;
    margin:0 auto;
  }

middle{
  height:100vh;
  display:flex;
  background-image: url("Lucia Ecstatic.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
}
