<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Lucia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="flexstyle.css">
  </head>
  <body id="about">
    <div class='titleText'>
      <p id="truth">Good Sweet!</p>
      <div class = "tabs">
        <span class="tab"><a href="index">Home</a></span>
        <span class="tab"><a href="offerings">Offerings</a></span>
        <span class="tab"><a href="events">Events</a></span>
        <span class="tab"><a href="schedule">Schedule</a></span>
        <span class="tab"><a href="contact">Contact</a></span>
      </div>
    </div>
    <div id='overlay'>
      <button class='nav_toggle' onclick='toggle()'>
        <span id ="burger" class='burger'></span>
      </button>
      <ul id = 'overlayTabs'>
        <a class='oLtab' href="index">Home</a>
        <a  class='oLtab' href="about">About Lucia</a>
        <a class='oLtab' href="offerings">Offerings</a>
        <a class='oLtab' href="events">Events</a>
        <a class='oLtab' href="schedule">Schedule</a>
        <a class='oLtab' href="contact">Contact</a>
      </ul>
    </div>


    <div class = 'main'>
    <img src="headOnLu.jpg" alt='Lucia'>


    <p id="bio">For Lucia, yoga is a means of self-expression and cultivating compassionate self-awareness. She completed a 200-hour teacher training at Kripalu Center for Yoga & Health in 2013 and is certified to teach Trauma-Informed Yoga by Exhale to Inhale. Before becoming a yoga teacher, she lived and worked as a social worker in East Harlem for 18 years. Lucia has taught yoga to teen girls, seniors, immigrant mothers and her neighbors, and is thrilled to be part of the yoga community. </p>
    </div>
    <script type="text/javascript" src='index.js'></script>

  </body>
</html>
