<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Lucia</title>
    <link rel = "stylesheet" href="flexstyle.css">
  </head>
  <body>
    <h1 id="truth"> Lucia is a good sweet!</h1>
    <br>
    <img src="squidface.jpg">
    <p id="bio">For Lucia, yoga is a means of self-expression and cultivating compassionate self-awareness. She completed a 200-hour teacher training at Kripalu Center for Yoga & Health in 2013 and is certified to teach Trauma-Informed Yoga by Exhale to Inhale. Before becoming a yoga teacher, she lived and worked as a social worker in East Harlem for 18 years. Lucia has taught yoga to teen girls, seniors, immigrant mothers and her neighbors, and is thrilled to be part of the yoga community. </p>
    <a class="home" href = "./index">Home</a>
  </body>
</html>
