<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Information</title>
    <link rel = "stylesheet" href="flexstyle.css">
  </head>
  <body>
    <a class = "home" href = "./index">Home</a>
    <img src='letter image.jpg'>
    <h1>Sign up for my email list!</h1>
    <form id = "add email" method = "POST" action = "/addEmail">
       <label for="fname">First name:</label>
       <input type="text" id="fname" name="fname" placeholder="first name"><br>
       <label for="lname">Last name:</label>
       <input type="text" id="lname" name="lname" placeholder="last name"><br>
       <label for="email">Email:</label>
       <input type="email" id="email" name="email" placeholder="email@isp.com"><br>
       <input type="submit" value="Send">
    </form>


    <h2>Questions? Comments? Just want to say hi?  Email me!</h2>
    <a href = "mailto: jsnd11@gmail.com">Send Email</a><form id = "add email" method = "POST" action = "/addEmail">
       <label for="fname">First name:</label>
       <input type="text" id="fname" name="fname" placeholder="first name"><br>
       <label for="lname">Last name:</label>
       <input type="text" id="lname" name="lname" placeholder="last name"><br>
       <label for="email">Email:</label>
       <input type="email" id="email" name="email" placeholder="email@isp.com"><br>
       <input type="submit" value="Send">
    </form>


    <h2>Questions? Comments? Just want to say hi?  Email me!</h2>
    <a href = "mailto: jsnd11@gmail.com">Send Email</a>
  </body>
</html>
