<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Events</title>
    <base target="_blank">
    <link rel = "stylesheet" href="flexstyle.css">
  </head>
  <body>
    <img src="Lucia Ecstatic.jpg" alt="Lucia Ecstatic" style="width:25%">
    <h1 class="eventHead">Senior Yoga and Meditation Retreat with Lucia!<h1>
    <h2 class="eventHead2">October 8-10, Stony Point, NY</h2>
    <br>
<div id="retreat">
  <h3 class="eventHead3">Join me for a three-day getaway at the lovely Stony Point Center!</h3>
<h3 class="eventHead3" style="width:40%">This retreat, designed just for you, will feature:</h3>
<br>
  <div class="eventFeatures">
    <ul>
    <li>A beautiful, wooded upstate retreat center: <a href="https://stonypointcenter.org">Stony Point</a></li>
    <li>Your own private room, with bathroom, in a Victorian mansion</li>
    <li>Accessible yoga (chair- and mat-based), meditation and relaxation offerings each day</li>
    <li>All meals included, from dinner on Friday through lunch on Sunday</li>
    </ul>
  </div>
  <br>
  <div class="exhort">Now is the time to take a break from daily life, get out into nature and deepen your practice. I have years of experience teaching gentle yoga, meditation and relaxation, and specialize in classes for seniors of all abilities.(Non-seniors are also welcome to this retreat!)
  <br>
  I'm so excited to share this opportunity with you!
  <br>
  Reach out to me with any questions.
</div>
<fineprint>
  <p>All attendees must be fully vaccinated against Covid-19. </p>
  <p>Masks are required in shared, public spaces, but optional in our own practice rooms.</p>
  <p>Retreat center is less than an hour's drive from NYC; also reachable via NJ Transit and a short taxi ride.</p>
</fineprint>



</div>
    <a class = "home" href = "./index">Home</a>
  </body>
</html>
