<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lucia Russett's OM page</title>
    <link rel = "stylesheet" href="flexstyle.css">

  <base target="_self">
  </head>
  <body>
    <header class="flex-container">
        <p class="name">
          <b><span class="herself name">Lucia Russett</span>
            <span>Yoga & Meditation</span>
          </b>
        </p>
        <span class = "tabs">
            <span class="tab"><a href="../schedule">Schedule</a></span>
            <span class="tab"><a href="../about">About Lucia</a></span>
            <span class="tab"><a href="../contact">Contact</a></span>
            <span class="tab"><a href="../events">Events</a></span>
        </span>
    </header>
    <middle>
      <div class = "red">Here I am</div>
      <img src="pigeon forward.jpg" alt="Lucia in pigeon pose" title="pigeon in the hedge">
      <div class = "blue">Here WE are</div>
    </middle>
  </body>
</html>
