<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lucia Russett's OM page</title>
    <link rel = "stylesheet" href="flexstyle.css">

  <base target="_self">
  </head>
  <body class="landing">
    <header>
        <div class='headText'>
          <p class="herself">Lucia Russett</p>
          <p class='light'>Yoga & Meditation</p>
        </div>

        <div class = "tabs">
            <span class="tab"><a href="schedule">Schedule</a></span>
            <span class="tab"><a href="about">About Lucia</a></span>
            <span class="tab"><a href="contact">Contact</a></span>
            <span class="tab"><a href="events">Events</a></span>
        </div>
    </header>
    <div id='overlay'>
      <button class='nav_toggle' onclick='toggle()'>
        <span id ="burger" class='burger'></span>
      </button>
      <ul id = 'overlayTabs'>
        <a class='oLtab' href="schedule">Schedule</a>
        <a  class='oLtab' href="about">About Lucia</a>
        <a class='oLtab' href="contact">Contact</a>
        <a class='oLtab' href="events">Events</a>
    </ul>
    </div>

<script type="text/javascript" src='index.js'></script>
  </body>
</html>
