<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule</title>
    <link rel = "stylesheet" href="flexstyle.css">
  </head>
  <body>

      <h1 class="center">Class Schedule</h1>
      <br>
      <br>
    <header class = "grid-container">
      <h2 class="harlem">Harlem Yoga Studio</h2>
      <h2 class="himan">Himan Brown Center</h2>
      <h2 class="isaac">Isaac's Center</h2>
      <h2 class="virtual">Private Group</h2>


    <ul class = "harlem">
      <li>Friday 6 - 7 Restorative Yoga</li>
      <li>Sunday 6 - 7 Restorative Yoga</li>
    </ul>

    <ul class = "himan">
      <li>Monday 10 - 11 Chair Yoga (Zoom)</li>
      <li>Friday 10 - 11 Chair Yoga (Zoom)</li>
    </ul>

    <ul class = "isaac">
      <li>Tuesday 10 - 11 Chair Yoga (Zoom)</li>
      <li>Tuesday 11 - 11:30 Meditation (Zoom)</li>
      <li>Wednesday 10 - 11 Chair Yoga</li>
      <li>Wednesday 2:30 - 3:00 Meditation (Zoom)</li>
    </ul>

    <ul class = "virtual">
      <li>Saturday 10 - 11 (Zoom) </li>
    </ul>

  </header>


    <a class = "home" href = "./index">Home</a>

  </body>
</html>
