/* *{
  margin:0;
}

body{
  background-color:rgba(145, 194, 209, 1);
}
.flex-container{
  background-color:#cfcfcf;
  height:100px;
  margin-bottom:55px;
  width:100%;
  display:flex;
}

.herself{
  color:red;
  font-family:cursive;
  font-size:1.25em;
}
.name{
  margin: auto;
}

.tabs{
  margin:auto;
  font-size: 1em;
}
span{
  margin-left: 150px;
  margin-right:50px;
}


.tab{
  margin-left:10px;
}
 p {
    font-size:2em;
    font-weight: bold;
    margin:0 auto;
  }

middle{
  height:100%;
  background-image: url('pigeon forward.jpg')
}
img{
  display:block;
  width:100%;
  height:100%;
  border:5px;
  border-style:solid;
  border-color:green;
  margin:0 auto;
}
.red{
  background-color:red;
  margin:auto;
  font-size:34px;
}

.blue{
  background-color: orange;
  margin:auto;
  font-size:34px;

}
.grid-container{
  background-color:#cfcfcf;
  width:100%;
  display:grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  column-gap: 10%;
}
.center{
  width:14.5%;
  margin:2% auto;
}
.harlem{
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
}

.himan{
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.isaac{
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: center;
}

.virtual{
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: center;
}
ul{
margin:0;
padding:0;
}

.harlem > p,.isaac > p,.virtual>p, .himan > p{
  color:red;
  font-size: 1em;

}

.home{
  position: absolute;
  top:0;
  right:1%;
}

.eventHead{
  width:47%;
  background-color: blue;
  margin: 0 auto;
}
.eventHead2{
    width:23%;
    margin: 0 auto;
}
.eventHead3{
    font-size: 1.5em;
    font-weight: 900;
    width:47%;
    margin: 0 auto;
  }

.eventFeatures{
  width:23%;
  margin: 0 auto;
  background-color: yellow;
}

fineprint{
  position:absolute;
  bottom:15%;
  right:3%;
  display:block;
  color:red;
  width:20%;
  background-color: white;
  transform:rotate(25deg);
}

.exhort{
  font-size: 1.5em;
  font-weight: bold;
  width:40%;
  margin: 0 auto;
  text-align: center;
}

#bio{
  font-size: 1.5em;
  width:75%;
  margin: 0 auto;
}




*/
#squid{
  display:block;
  max-width:90%;
  margin: 0 auto;
}

*{
  margin:0;
  box-sizing: border-box;
}

.landing{
  background-color:rgba(145, 194, 209, 1);
  height:100vh;
  background-image: url("Lucia Ecstatic.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.herself{
  color:red;
  font-family:cursive;
}

header{
  position:relative;
  width: 100%;
  margin:0 auto;
  text-align: center;
  background: #1c1c1c;
  font-size:2rem;
}
.tabs{
  display:flex;
  visibility: hidden;
  margin:auto;
  font-size:.5em;
}

.headText{
  margin-left: 50%;
  transform: translateX(-50%);
}

.light{
  color:white;
}


.nav_toggle{
  position:absolute;
  left:-34px;
  top:-30px;
  border:0;
  height:25px;
  background: #1c1c1c;
}
.nav_toggle:hover{
  transform:scale(105%);
  background: #a433bf;
}
.burger{
  color:#fff;
  position:relative;
  height:5px;
  width:25px;
  background:white;
  display:block;
}
.burger::before,
.burger::after{
  display:inline-block;
  position:absolute;
  left:0;
  content:'';
  width:25px;
  height:5px;
  background:white;
}
.burger::before{
  top:10px;
 }
 .burger::after{
  bottom:10px;
 }


.tab{
  margin-left:2em;
  color:white;
}
ul{
  margin-top:30%;
}
a{
  text-decoration: none;
}
a:link, a:visited{
  color:#8e8e8e;
}
a:hover,a.oLtab:hover{
  color:#a433bf
}
a.oLtab{
  color:black;
  font-size: 2em;
  margin-bottom:2em;
  display:block;
}

#overlay{
  position:absolute;
  transform:translateX(100%);
  height:100vh;
  width:100vw;
  background:#c1c1c1;
  transition: transform 1000ms ease-in-out
}

.open #overlay{
  transform: translateX(7%);
  opacity:90%;
}
.open .burger{
  transform:rotate(45deg);
}
.open .burger::after{
  visibility:hidden;
}
.open .burger::before{
  transform: rotate(90deg) translate(-10px);

}
#contact{
  display:flex;
  justify-content: center;
  align-items: center;
}
#form{

}
@media (min-width:501px) {
  header{
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:50%;
    justify-content: flex-start;
  }
  .nav_toggle{
    visibility: hidden;
  }
  .tabs{
    margin-left: auto;
    margin-right: 1.5em;
    visibility:visible;
  }
  .headText{
    margin-left:2rem;
    transform:none;
  }
  #overlay.open{
    transform:translateX(100%);
    transition:transform 0s;
  }
}
