html{
    background-color: black;
}
img {
    max-height: 33.3vh;
    width: 20%;
    --x: 0%;
    --y: 0%;
    transition: transform 0.5s;
}

img:hover {transform: scale(2) translate(var(--x), var(--y));}
img.left{ --x: 50%; }
img.right{ --x: -50%; }
img.Rick{ --y: 50%; }
img.John{ --y: -50%; }
#container
{
    display: flex;
    flex-wrap: wrap;
}